{% include "header.html" %}

<header class='property'>
    <div class="overlay">
        <!-- Navigation -->
        <nav class="navbar transparent navbar-inverse navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <li><a class="navbar-brand" href="/">Vancouver Realty Price Finder</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <a href="/property">Property</a>
                    <a href="/rental">Rental</a>
                    <a href="/peek">Peek</a>
                </ul>

            </div>
        </nav>

    </div>
</header>
<div class="container">
    <div class="row"></div>
</div>
     
        
{% include "footer.html" %}